@tailwind base;
@tailwind components;
@tailwind utilities;


.is-desktop-os .toolbar-container {
  padding: 0 16px;
}

.is-desktop-os .page-title {
  text-align: center;
}

@layer utilities {
  /* Custom scrollbar style */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }

  /* Standard properties for Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
  }
}